body {
  font-family: sans-serif;
  background-color: #001;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: 0;
}

h1 {
  height: 10vh;
  text-align: center;
  color: #fff;
}

.simon-game {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color,
.play {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.Blue {
  border: 3px solid #0000e6;
}

.Red {
  border: 3px solid #cc2900;
}

.Yellow {
  border: 3px solid #ffff1a;
}

.Green {
  border: 3px solid #33cc33;
}

.play {
  border: 3px solid lightgoldenrodyellow;
  margin: 10px;
}

.Green:active,
.Red:active,
.Yellow:active,
.Blue:active {
  border: 7px solid lightgoldenrodyellow;
}

.play:active {
  border: 5px solid salmon;
}

.testing {
  color: #fff;
  background: none;
}

@media screen {
}
